
img {
     max-width: 100%;
}

p { line-height: 150%; font-size: 14px; }
		.underline { text-decoration: underline }
		
	a:link {color:#585858; text-decoration: none; font-weight: bold; }      /* unvisited link */
	a:visited {color:#585858; text-decoration: none; font-weight: none; }  /* visited link */
	a:hover {color:#585858; text-decoration: none; font-weight: none; }  /* mouse over link */
	a:active {color:#585858; text-decoration: none; font-weight: none; }  /* selected link */
		
		
	div#wrapper { height: 714px;
				  width: 97%;
				  border-top: 2px solid black; 
				  border-left: 2px solid black; 
				  border-bottom: 2px solid black; 
				  border-right: 2px solid black;
				  margin-top: 15px;
				  overflow: auto;
				 
		
	}

	div#paper { height: 688px;
				width: 72.5% ;
				float: left; 
				margin-top: 15px; 
				padding: 10px; 
				overflow: auto; 
				background: white; 
				} 
	div#paper p {    
					font-size: 18px; 
					text-indent: 20px; 
				}
	div#paper h1 {  font-size: 15px; 
					line-height: 15px; }
	div#paper h2 {  font-size: 15px; 
					text-align: center }
	div#commentary { height: 700px;
					 line-height: 150%;
					 width: 23%;
					 float: right; 
					 padding: 10px; 
					 overflow: auto; 
					 background: #EEEEEE; 
					 border-left: 2px solid black;
					 }
					 
					 
	
	
